/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@keyframes rainbow{
    0%{
		background-color: rgb(253, 117, 54);
		filter: drop-shadow(0px 0px 15px  rgb(253, 117, 54));
		
    }
    33%{
		background-color: rgb(253, 54, 54);
		filter: drop-shadow(0px 0px 15px  rgb(253, 54, 54));
		
    }
    66%{
        background-color: hsl(345, 95%, 60%);
		filter: drop-shadow(0px 0px 15px  hsl(345, 95%, 60%));
        
    }
    100%{
        background-color: rgb(107, 54, 253);
		filter: drop-shadow(0px 0px 15px  rgb(107, 54, 253));
    }
} 

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

@keyframes intro{
	0%{
		background-color: rgb(255, 255, 255);

	}

	100%{
		background-color: rgb(200, 200, 200);

	}

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p{
    /* margin: 10px; */
    /* margin-left: 20px;  */
	font-family: "Roboto"; 
	font-size: 15px; 
    
}
a{

	text-decoration: none;
	font-family: 'Roboto Mono', monospace;
	
    
}
h1{
  font-family: "Roboto";  
  font-size: 28px;
  margin: 20px;
  margin-left: 0px;
  

}
h2{
    font-family: "Roboto";  
    font-size: 72px;
    font-weight: 600;
    margin: 20px;
}

body{
	animation: intro 1s ease-in-out alternate infinite;

}
button.risultati{
	background-color: rgb(255, 255, 255);
	border-radius: 13.5px;
	border-color: rgba(181, 234, 255, 0);
	color: rgb(61, 61, 61);
	margin: 10px;
    font-size: 10px;
    height: 15px;
    width: 15px;
    padding: 0;
	border: 0;
	filter: drop-shadow(1px 1px 2px #8484848f);
	
}
button.donazione{
    animation: rainbow 15s linear infinite alternate forwards;
	background-color: rgb(253, 117, 54);
	filter: drop-shadow(0px 0px 5px #ff3d3d);
	color: white;
    font-size: 16px;
	padding: 10px 20px 10px 20px;
	height: 100%;
	opacity: 1;
    min-height: 40px;
    margin-bottom:10px;
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    outline: none;
	font-family:  "roboto";
}
p.credit{
    color: rgb(255, 255, 255);
	font-size: 14px;
	margin: 10px;
    text-align: center; 
	font-family: "roboto";
	/* font-style: italic; */
	
	line-height: 20px; 
	/* margin-bottom: 20px; */

	/* filter: drop-shadow(0px 0px 5px #ffffff); */
	
}
div.pie{
	text-align: center;
    background-color: rgb(43, 43, 43);
    margin: -25px -20px -25px -20px;
    padding: 10px 40px 10px 40px;
    border-top: 15px  rgb(34, 34, 34) solid;
	border-bottom: 20px   rgb(43, 43, 43) solid;
bottom :0px}
	
.p_cit
{
	margin: 0px;
	font-size: 24px;
	font-family: "Playfair Display";
	font-style: italic;
	font-weight: 200;
}
.div_cit{
	text-align: center;
	padding: 10px;
	/* display: inline-block; */


}.p_cit_fonte{
	font-style: italic;

}